/Apple_Stock_Data.xlsx
/button.html
/findstr.py
/lumbda.py
/my_project.py
/num generator.py
/python.py
/python1.py
/python2.py
/python3 app.py
/python4.py
/python5.py
/python6.py
/stock_returns.py
/test_pandas.py.py
/text.html
/work.html
/~$Apple_Stock_Data.xlsx